/* Valeur initiale */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    text-align: center;
}

h2 {
    font-size: 45px;
}

h4 {
    font-size: 25px;
}

/* N A V */
.logo {
    height: 50px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    margin: auto;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 10;
    background-color: black;
    opacity: 0.9;
}

.navelement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

ul.navigation {
    list-style-type: none;
}

li {
    display: inline-block;
}
li:not(:last-child) {
    margin-right: 30px;
}

h2.menuitem {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2.sub {
    margin-bottom: 25px;
    background-color: transparent;
}
main {
    margin-top: 69px;
    background-color: black;
    opacity: 0.9;
}

/* H E R O */

.test {
    display: flex;
    justify-content: center;
}
.hero {
    display: flex;
    align-items: center;
    flex-basis: 1200px;
    height: 700px;
    background-image: url(/images/img-mission-background.webp);
    justify-content: center;
}

.herotext {
    flex-basis: 100%;
    padding: 25px;
    opacity: 1;
    background-color: black;
}

/* T E A  O F  M O N T H */

.teaOfMonth {
    flex-basis: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTeaOfMonth {
    margin-top: 100px;
    margin-bottom: 35px;
}

.teaOfMonthNominee {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.TeaImage {
    width: 300px;
    height: 200px;
}

/* L O C A T I O N S */

.locations {
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/images/img-locations-background.webp);
    flex-basis: 1200px;
    height: 500px;
}
.containerLocation {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.locationBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    align-content: space-between;
    flex-basis: 300px;
    height: 300px;
}

/* F O O T E R*/
